<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Project3</display-name>
 	
  <!-- 초기화 파라미터 -->
  <!-- 마리아DB 드라이버와 연결정보 -->
  <context-param>
  	<param-name>MariaJDBCDriver</param-name>
  	<param-value>org.mariadb.jdbc.Driver</param-value>
  </context-param>
  <context-param>
  	<param-name>MariaConnectURL</param-name>
  	<param-value>jdbc:mariadb://127.0.0.1:3306/suamil_db</param-value>
  </context-param>
  
  <!-- 페이지사이즈정보 -->
  <context-param>
  	<param-name>PAGE_SIZE</param-name>
  	<param-value>5</param-value>
  </context-param>
  <context-param>
  	<param-name>BLOCK_PAGE</param-name>
  	<param-value>5</param-value>
  </context-param>
  
  <!-- 이미지 페이지사이즈정보 -->
  <context-param>
  	<param-name>IMG_PAGE_SIZE</param-name>
  	<param-value>6</param-value>
  </context-param>
  <context-param>
  	<param-name>BLOCK_PAGE</param-name>
  	<param-value>5</param-value>
  </context-param>
  
  <!-- 세션유지시간설정 -->
  <session-config>
      <session-timeout>60</session-timeout>
   </session-config>
  
  <!-- 메인화면 매핑 -->
  <servlet>
  	<servlet-name>MainController</servlet-name>
  	<servlet-class>controller.MainCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MainController</servlet-name>
  	<url-pattern>/main/main.do</url-pattern>
  </servlet-mapping> 
 
  <!-- 리스트ctrl 서블릿 -->
   <servlet>
      <servlet-name>CommunityList</servlet-name>
      <servlet-class>controller.ListCtrl</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>CommunityList</servlet-name>
      <url-pattern>/Community/List</url-pattern>
   </servlet-mapping>
   <!-- 파일다운로드 서블릿 -->
   <servlet>
      <servlet-name>CommunityDownload</servlet-name>
      <servlet-class>controller.DownloadCtrl</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>CommunityDownload</servlet-name>
      <url-pattern>/Community/Download</url-pattern>
   </servlet-mapping>
   <!-- 뷰ctrl 서블릿 -->
   <servlet>
      <servlet-name>CommunityView</servlet-name>
      <servlet-class>controller.ViewCtrl</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>CommunityView</servlet-name>
      <url-pattern>/Community/View</url-pattern>
   </servlet-mapping>
   <!-- 글쓰기ctrl 서블릿 -->
   <servlet>
      <servlet-name>CommunityWrite</servlet-name>
      <servlet-class>controller.WriteCtrl</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>CommunityWrite</servlet-name>
      <url-pattern>/Community/Write</url-pattern>
   </servlet-mapping>
   <!-- 수정ctrl 서블릿 -->
   <servlet>
      <servlet-name>CommunityEdit</servlet-name>
      <servlet-class>controller.EditCtrl</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>CommunityEdit</servlet-name>
      <url-pattern>/Community/Edit</url-pattern>
   </servlet-mapping>
   <!-- 삭제ctrl 서블릿 -->
   <servlet>
      <servlet-name>CommunityDelete</servlet-name>
      <servlet-class>controller.DeleteCtrl</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>CommunityDelete</servlet-name>
      <url-pattern>/Community/Delete</url-pattern>
   </servlet-mapping>
   
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>